Source: com.github.joshuadowding.noyau
Section: x11
Priority: optional
Maintainer: Joshua Dowding <joshuadowding@outlook.com>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 9),
               gettext,
               libgtk-3-dev,
               libgee-0.8-dev,
               libjson-glib-dev,
               libvte-2.91-dev,
               libsoup2.4-dev,
               libnotify-dev,
               meson,
               valac (>= 0.40.0)
Standards-Version: 4.1.1

Package: com.github.joshuadowding.noyau
Architecture: any
Priority: optional
Depends: rsync, aptitude, aria2, curl
Description: A graphical utility for managing kernels on Ubuntu.
