[Desktop Entry]
Name=Noyau
MimeType=
Exec=noyau %U
Type=Application
GenericName=Noyau
Terminal=false
Icon=noyau
Comment=A graphical utility for managing kernels on Ubuntu-based platforms
X-KDE-StartupNotify=false
Categories=System;Utility;
StartupWMClass=noyau
X-GNOME-UsesNotifications=true
StartupNotify=true
